<h1>ADMIN HOME</h1>
<hr />

<a href="/admin/addprd">
  <button type="button" class="btn btn-primary">ADD NEW PRODUCT</button>
</a>

<a href="/admin/showprd">
  <button type="button" class="btn btn-secondary">SHOW ALL PRODUCTS</button>

</a><button type="button" class="btn btn-success">FIND PRODUCT</button>
<button type="button" class="btn btn-danger">SIGN OUT</button>
<br /><br />