<h1>NEW USER REGISTRATION</h1>
<hr />

<form method="post" action="/user/saveuser">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">User Name</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Enter User Name"
      name="username"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">User Password</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Enter Password"
      name="userpassword"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Confirm Password</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Confirm Password"
      name="usercpassword"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">User Email</label>
    <input
      type="email"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Enter Email Address"
      name="useremail"
    />
  </div>
  <div class="mb-3">
    <div class="col-12">
      <button type="submit" class="btn btn-primary">CLICK HERE TO REGISTER</button>
    </div>
  </div>
</form>